*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");

.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

:root {
  --darkblue: #252c33;
  --yellow: #d3af37;
}

/* NAV */

nav {
  background-color: var(--darkblue);
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-family: "Inter", sans-serif;
  color: var(--yellow);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: #d3af37;
  font-size: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  /* padding: 0 40px; */
  position: relative;
}

.nav-item a::after {
  width: 100%;
  height: 2px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
  background-color: var(--yellow);
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}

.nav-item a:hover:after {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

#nav-item-center {
  margin: 0 60px;
}

#nav-item-last {
  margin-right: 60px;
}

/* CONTENT */

section {
  width: 100%;
}

.first-page {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url(naik\ motor1\ 1.png);
  position: relative;
  box-shadow: 0 0 5px black;
}

.first-page-text {
  cursor: default;
  position: absolute;
  right: 50px;
  bottom: 60px;
  text-shadow: 0 0 20px black;
}

.first-page-text h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #d3af37;
  margin-bottom: 30px;
  cursor: default;
  cursor: pointer;
}

.first-page-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #d3af37;
}

.second-page {
  background-color: var(--darkblue);
  width: 100%;
  height: 400px;
  padding: 50px 70px;
  display: flex;
  justify-content: space-between;
}

.second-page img {
  width: 470px;
  height: 350px;
  margin-right: 50px;
}

.second-page h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #d3af37;
}

.box-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #d3af37;
}

.box-text {
  width: 50%;
}

/* FOOTER */

footer {
  width: 100%;
  height: 320px;
  background-color: #252c33;
  color: #d3af37;
}

.text-left {
  width: 200px;
}

.text-left h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.text-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.text-right h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.text-right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}

.box-footer {
  width: 100%;
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
}

#hash {
  width: 100%;
  display: flex;
  justify-content: center;
}

#hash p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
}
